.paper{
    text-align:center;
    font-family: 'lato'

 }
 .paper:hover{
     color:blueviolet;
 }
 .mission{
    margin-left: 35px;
 }
 .mission1{
   padding: 8px;
  color:rgb(125, 218, 82);
  text-align: center;
}
.mission1:hover{
   background-color: black;
}
.t{
   padding-top: 100px;
}