.heading{
    padding: 30px;
}
.heading h1 {
        font-size: 50px;
        font-weight: 700;
        margin: 0;
        padding: 0;
        text-align:center; 
        font-family: 'oswald'
    
    }
.heading h1 span {
        color: rgb(240, 83, 56);
    }
.heading h4 {
        font-size: 25px;
        font-weight: bold;
        line-height: 1.7;
        color: #5db892;
        margin: 20px 0 60px;
        padding: 0;
        text-align: center;
        font-family: 'oswald'
    }
.heading1{
   
   color:rgb(125, 218, 82);
   font-size: 20px;
   text-align: center;
   background-color:grey;
   font-family: 'oswald'
}
.heading1:hover{
    background-color: black;
}
.heading .detail{
    color:black;
    font-size:20px;
    text-align: justify;
    font-family: 'lato'
}
.image{
    margin-left: 100px;
}
.mission{
     margin-left: 40px;
     
}
.mission1{
    padding: 8px;
   color:rgb(125, 218, 82);
   text-align: center;
   background-color:grey;
   font-family: 'oswald'
}
.mission1:hover{
    background-color: black;
}
.points{
    font-size: 22px;
    padding: 30px;
    margin: 0px;
    font-family: 'lato';
    color: black;
}
.vision{
    margin-left: 40px;
}
.vision1{
    padding: 8px;
    color:rgb(125, 218, 82);
    font-family: 'oswald';
    text-align: center;
    background-color:grey;
}
.vision1:hover{
    background-color: black;
}
.vision2{
    color:black;
    font-size:20px;
    text-align: justify;
    margin-left:50px;
    margin-right: 50px;
    padding: 5px;
    font-family: 'lato'
    
}
.product{
    margin-left: 40px;
    
}
.product1{
    padding: 8px;
    color:rgb(125, 218, 82);
    font-family: 'oswald';
    text-align: center;
    background-color:grey;
}
.product1:hover{
    background-color: black;
}
.product2{
    color:black;
    font-size:20px;
    text-align: justify;
    margin-left:50px;
    margin-right: 50px;
    padding: 5px;
    font-family: 'lato'
}
.team{
    padding: 8px;
   color:rgb(125, 218, 82);
   
   text-align: center;
   background-color:grey;
}
.team:hover{
    background-color:black; 
}
.pr1{
    color:rgb(125, 218, 82);
    font-size: 20px;
    text-align: center;
    font-family: 'oswald'
}
.pr1:hover{
    background-color: blue;;
}
.paper{
   text-align:center;
   font-family: 'lato'
}
.paper:hover{
    color:blueviolet;
}
.about{
    margin-top: 35px;
}